.testata{
    background-color: CornflowerBlue;  
}

.logo{
    width: 120px;
    height: 85px;
}

.scritta{
    color: lightgray;
}

.underline{
    color: DodgerBlue;
}

.rimpicciolire{
    font-size: small;
}

.evidenziare, .new_evidenziare{
    background-color:yellow;
}



th{
    background-color: DarkTurquoise;
    color:white;
}

tr:nth-child(2n + 0) { 
    background-color: DarkTurquoise; 
}



p{
    color: lightgrey;
}

.container{
    position: relative;
    text-align: left;
    color: white;
}

.scritta1{
    position: absolute;
    top: 20px;
    text-align: center;
}

.container2{
    position: relative;
    text-align: left;
    color: white;
}

.scritta2{
    position: absolute;
    top: 20px;
    text-align: center;
}