*{
    margin: 0;
    padding: 0;
}

header{
    background-size: contain;
    height: 100px;
    width: 100%;
    background-image: url('../immagini/pattern.png');
    background-color: CornflowerBlue; 
}

.logo img{
    width: 120px;
    height: 85px;
    left: auto;
    margin-left: 5px;
    margin-top: 20px;
}

section.logo{
    margin-top: 0;
}


/*margine perspostare il corpo più a destra*/
.margine{
    margin-left: 8px;
}

.scritta{
    color: lightgray;
}

.underline{
    color: DodgerBlue;
}

.rimpicciolire{
    font-size: small;
}

.evidenziare, .new_evidenziare{
    background-color:yellow;
}



th{
    background-color: DarkTurquoise;
    color:white;
}

tr:nth-child(2n + 0) { 
    background-color: DarkTurquoise; 
}



p{
    color: grey;
}

.container, .container2{
    position: relative;
    text-align: left;
    color: white;
}

.scritta1, .scritta2{
    position: absolute;
    top: 20px;
    text-align: center;
    margin-left: 20px;
    font-size: 25px;
}